body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

html {
    scroll-behavior: smooth;
}

.center {
    text-align: center;
}