html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 217, 255);
    font-family: 'Arial, Helvetica, sans-serif';
    font-size: 1.1rem;
}

header, footer {
    text-align: center;
}

footer {
    padding: 1rem;
}